.App {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}

.upload-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  max-width: 1200px;
}

.preview-section {
  flex-grow: 1;
  flex-basis: 50%; /* La previsualizaci칩n tomar치 el 70% del espacio disponible */
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.table-section {
  flex-basis: 90%; /* La tabla ocupar치 el 25% del espacio disponible */
  max-width: 400px;
}

.preview-area {
  width: 100%;
  height: 500px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.preview-image {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.placeholder-image {
  font-size: 48px;
  color: #ccc;
}

.upload-section {
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  
}

.center-container {
  margin-top: 10px;
}

.choose-file-btn {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
}

.dropzone {
  border: 2px dashed #ccc;
  border-radius: 4px;
  padding: 20px;
  height: 100px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  display: none; /* El modal est치 oculto por defecto */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal-content-inside {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 80%;
  max-width: 500px;
}
.close-modal-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 20px;
}

.open-webcam-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.open-webcam-btn:hover {
  background-color: #45a049;
}

.close-modal-btn:hover {
  background-color: #ff4c4c;
}

.modal.show {
  display: flex; /* Mostrar el modal */
}